[app]
%{ for index, host in vm }
%{~ if length(regexall("app", host.labels.ansible-group)) > 0 ~}
${host.name} ansible_host=${ host.network_interface.0.nat_ip_address }
%{ endif ~}
%{~ endfor ~}

[database]
%{ for index, host in vm }
%{~ if length(regexall("db", host.labels.ansible-group)) > 0 ~}
${host.name} ansible_host=${ host.network_interface.0.nat_ip_address }
%{ endif ~}
%{~ endfor ~}

[web]
%{ for index, host in vm }
%{~ if length(regexall("db", host.labels.ansible-group)) > 0 ~}
${host.name} ansible_host=${ host.network_interface.0.nat_ip_address }
%{ endif ~}
%{~ endfor ~}

[all:vars]
ansible_ssh_extra_args='-o StrictHostKeyChecking=accept-new'

[database:vars]
pgversion=12
datadir=/db_data