[Unit]
Description=Jenkins Runner

[Service]
ExecStart=/usr/bin/java -jar /home/ansible/agent.jar -jnlpUrl http://91.203.226.40/computer/vm1/jenkins-agent.jnlp  -secret 3f24a6bf15b77397dccb16b594eecebffa53c925a81003a8af8788daa78d1eac   -workDir "/home/ansible/jenkins"
Restart=always
RestartSec=30
User=ansible

[Install]
WantedBy=multi-user.target